<html>
  <head>
    <title>URL Shortener</title>
    <link rel="icon" href="https://cdn.eclipsed.top/1042184163351154688/shortener/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sora:100,200,300,400,500,600,700,800&amp;display=swap">
  </head>
  <body style="background-color: #1f1f1f;align-items: center;display: flex;justify-content: center;">
    <div style="display: flex;flex-direction: column;align-items: center;">
      <h1 style="color: white;font-family: Sora, Arial;">Eclipsed URL Shortener</h1>
      <span style="color: gray;font-family: Sora, Arial;font-size: 20px;">Requested code is expired, deleted or not found</span>
    </div>
  </body>
</html>